<section>
  <form #userForm="ngForm" (ngSubmit)="submitForm(userForm)">
    <input type="text" name="text" [(ngModel)]="input" (input)="onInputChange()" placeholder="Search" required />
    <button class="primary" type="submit">Search</button>
  </form>

  <div *ngIf="inputIsEmpty">
    <p>Please, fill the search input!</p>
  </div>
  <div>
    <p *ngIf="error">This value is invalid</p>
  </div>
  <div *ngIf="isSofaShowed">
    <app-sofa></app-sofa>
  </div>
  <div *ngIf="isChairShowed">
    <app-chair></app-chair>
  </div>
  <div *ngIf="isTableShowed">
    <app-table></app-table>
  </div>

</section>